/*--------------google fonts------------- */
/* @import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;1,700&family=Poppins:ital,wght@0,400;1,700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;400;700&family=Poppins:wght@400;700&display=swap');
/* --------Root Variables------------- */
:root{
    --primary-color:#7e51fc;
}
/* ----------resets------------ */
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
   
    /* outline: 1px solid red; */
}

html,body{
    width:100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color:#f8f3ed ;
    scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}
/* Hide scrollbar in Chrome, Safari */
::-webkit-scrollbar {
  display: none;
}
body{
    font-family: 'Karla',Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color:#f8f3ed ;
}
h1{
    font-size:2.2rem;
    text-shadow: 3px 2px rgb(26, 3, 82);
    line-height: 40px;
    font-family: 'Poppins',Verdana, Geneva, Tahoma, sans-serif;
}
h2{
    font-weight: 700;
    font-size:1.8rem;
    font-family: 'Poppins',Verdana, Geneva, Tahoma, sans-serif;
    margin-block:30px;
}
h3{
    font-size:1.5rem;
      text-shadow: 1px 1px rgb(214, 200, 250);
    font-family: 'Poppins',Verdana, Geneva, Tahoma, sans-serif;
}
h4{
    font-size: 1.25rem;
    text-shadow: 1px 1px rgb(49, 49, 56);

    font-family: 'Poppins',Verdana, Geneva, Tahoma, sans-serif;
}
p{
    font-size: 1.10rem;
}

a{
    display: inline-block;
    font-size:1.25rem;
    text-decoration: none;
    color:inherit;
}
.usecase {
    display: flex;
    align-items: center;
    flex-direction: row; /* default for larger screens */
}
@media (max-width: 768px) {
    .usecase {
        flex-direction: column; /* change for mobile */
    }
}


/* ------------------utiliity Classes------------- */
.flex{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container{
    padding-inline:10px;
    margin: auto;
    max-width: 100%;
}
.primary-btn{
    background-color: white;
    color:var(--primary-color);
    border-radius: 30px;
    padding:8px 15px;
}
.primary-btn:hover{
    background-color: var(--primary-color);
    color:white;
}
.hover:hover{
    background-color: white;
    color:var(--primary-color);
}
.shadow{
    box-shadow: 2px 2px 10px 0 rgba(0,0,0,0.4);
}
.screenshot{
    max-height: 400px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Adds a soft shadow */
    border-radius: 8px; /* Optional: smooth corners for a cleaner look */
}
.primary-color{
    color:var(--primary-color);
}
.card{
    justify-content:center;
    flex-direction: column;
    padding: 30px;
    gap:15px;
    border-radius:15px;
    width: 100%;
    height: 300px;
    background-color: white;
}
.designation{
    font-size:.9rem;
    color:#2E2E2E;
}
.light-blue-bg{
    background-color: #F8F8FF;
}



/* ------------stylings------------ */
/* nav bar */
#nav-bar{
    max-width: 100%;
    background-color:var(--primary-color);
    color:white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index:10;
}
.scroll-shadow{
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.2);
}
.nav{
    flex-direction: row;
    justify-content: space-between;
    padding-block:15px;
    position: relative;
}
.logo{
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 1.2;
    font-family: 'Poppins',Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.logo>img{
    height: 3rem;
    justify-content: center;
    align-items: center;
}
.nav-links{
    background-color: white;
    color: var(--primary-color);
    top:100%;
    left: 0;
    position: absolute;
    width:97vw;
    height: 300px;
    padding-block:30px;
    gap:15px;
    transition: left ease .5s;
}
.nav-links>a{
    width: 100%;
}

/* Active classs for hamburger menu */
.inactive{
    left: -100%;
}
/* ------------------------------------ */
.nav i{
    font-size: 1.5rem;
}

/* hero section */
#hero{
    max-width: 100%;
    background-color: var(--primary-color);
    border-bottom-right-radius:150px;
    color:white;
    position: relative;
}
/* Positioning the particle canvas */
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}
.hero{
    min-height:90vh;
    margin-top: 5vh;
    max-width: 100%;
    padding: 5px;
    padding-top:80px;
    justify-content: center;
    position: relative;
    z-index: 2;
}
.hero-text h1{
    margin-bottom: 20px;
    padding: 10px;
}
.hero-text>p{
    text-align: left;
    margin-bottom: 20px;
    font-size:.9rem;
    word-spacing:5px;
}
.hero-buttons{
    flex-direction: row;
    justify-content: center;
    gap:20px;
    margin-bottom: 30px;
}
.hero-buttons .play-btn{
    animation-name: touch,back-shadow;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay:0s;
    animation-iteration-count: infinite;
    animation-direction:alternate;
}
.hero-buttons .play-btn:hover{
    animation:none;
}
.hero-buttons .fa-play{
    animation:touch 2s ease-in-out 0s infinite alternate;
}
.hero-img{
    margin-bottom:5px;
    position: relative;
}
.hero>i:nth-child(5){
    color:#5DADE2;
    position: absolute;
    bottom:100px;
    left:5vw;
    animation:updown 1s ease-in-out .4s infinite alternate;
}
.hero>.plus1{
    color:#ed8f24;
    font-size: 20px;
    position: absolute;
    top:150px;
    left:2vw;
    animation:orbit 5s linear 0s infinite;
}
.hero>.plus2{
    color:#24ed74;
    font-size: 20px;
    position: absolute;
    top:200px;
    right:2vw;
    animation:orbit 5s linear 0s infinite;
}
.hero-img img{
    /* animation:updown 1s ease-in-out infinite alternate; */
}
.hero-orbit{
    width:250px;
    height:250px;
    border: 2px solid rgba(39, 5, 5, 0.4);
    border-radius: 50%;
    position: absolute;
    bottom:20%;right: 0.5px;
    animation:orbit 5s linear 0s infinite;
}
.hero-orbit-box{
    width:30px;
    height:30px;
    border: 2px solid rgba(255,255,255,0.4);
    background-color: rgba(255,255,255,0.4);
    position: absolute;
    left:0;top:70%;
    border-radius: 50%;
}

/* features */
.features{
    padding-block: 40px;
    
}
.feature-cards{
    gap:30px;
}
.feature-card>i{
    color: var(--primary-color);
    font-size: 1.8rem;
}

/* fun facts */
.facts img{
    animation:updown 1s ease-in-out .4s infinite alternate;
}
.facts-text h2,.facts-text>p{
    text-align: left;
}
.facts-cards{
    padding-inline: 10px;
    margin-block:30px;
    gap:20px;
}
.facts-card{
    color:white;
    letter-spacing: 3px;
}
#facts .card{
    width: 100%;
}
.facts-card>h3{
    font-size: 2rem;
    font-weight: 700;
}
.facts-card>p{
    font-size: 1.rem;
    font-weight: 700;
}
.facts-card:nth-child(1){
    background-color: #DC143C;
}
.facts-card:nth-child(2){
    background-color: #FFA500;
}
.facts-card:nth-child(3){
    background-color: #58D68D;
}
.facts-card:nth-child(4){
    background-color: var(--primary-color);
}


/* App screenshots */
.app-sc{
    margin-bottom: 30px;

}
@media screen and (min-width: 1024px) {
  .app-sc {
    margin-left: 15vw;
    margin-right: 15vw;
  }
}
.sc-3{
    display: none;
}

/* download app */
#download{
    background: linear-gradient(#7e51fc65,#4a309298), url(../images/heeo-repromptt.png) no-repeat fixed;
    background-size:cover;
}
.download{
    padding-block:30px;
}
.download>h2{
    color:white;
}
.download-cards{
    gap:30px;
}
.download-card{
    background-color: white;
}
.download-card>i{
    font-size: 1.8rem;
}

/* (steps) how it works */
.steps{
    padding-block:20px;
}
.steps-cards{
    justify-content: center;
    gap:20px;
}
.step-no{
    font-size: 2rem;
    color:white;
    background-color: var(--primary-color);
    width: 50px;
    height: 50px;
    border-radius:50%;
    justify-content: center;
}

/* reviews */
.reviews{
    padding-block:20px;
    background-color:#f8f3ed ;
}
.reviews-cards{
    gap: 20px;
    justify-content: center;
}
.reviews-cards .card{
    padding:30px;
    background-color: white;
}
.reviews-cards .img{
    position: relative;
}
.reviews-cards .img img{
    border-radius:50%;
    border:3px solid var(--primary-color);
}
.reviews .img::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f10e";
    position:absolute;
    top:40%;
    right:-10%;
    color: white;
    background-color: var(--primary-color);
    width: 30px;
    height:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:50%;
}
.reviews-cards p{
    color: #2E2E2E;
 
}
.ratings i{
    color:#FFA500;
}

/* pricing */
.pricing-cards{
    justify-content: center;
    gap:20px;
    margin-bottom:30px;
}
.pricing-cards .card{
    padding-block:0px 10px;
}
.pricing-cards .card-body{
    margin:20px 50px;
    gap:20px;
    color:#2E2E2E;
}
.price{
    flex-direction: row;
    justify-content: center;
}
.price .dollar{
    align-self: flex-start;
}
.price .amt{
    color:var(--primary-color);
    font-size: 3rem;
    font-weight: 900;
}
.price .monthly{
    align-self: flex-end;
}
.pricing ul li{
    list-style: none;
    text-align: left;
    padding-block:10px 8px;
}
.pricing i{
    color:var(--primary-color);
    font-weight: 900;
    font-size: 1.10rem;
}
.pricing a{
    background-color: var(--primary-color);
    color:white;
    box-shadow: 2px 2px 10px 0 var(--primary-color);
}

/* team members */
#team{
    padding-block:30px;
    background-color:#f8f3ed ;
}
.member-cards{
    gap:20px;
    justify-content: center;
}
.member-cards .card{
    padding-inline:20px;
    align-items: start;
    justify-content: center;
}
.team .img img{
    width:100%;
}

/* FaQ */
.faq{
    margin-bottom:50px;
}
.fa-ques{
    justify-content: center;
    gap:10px;
    list-style: none;
}
.fa-ques .shadow{
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.4);
    text-align: left;
    border-radius: 8px;
    width: 100%;
}
.fa-ques li{
    color:var(--primary-color);
    padding:10px 10px;
    font-weight: bold;
}

/* contact */
.contact{
    padding-block: 30px;
    background-color:#f8f3ed ;
}
.contact-det-form{
    width: 100%;
}
.contact-details>.flex{
    flex-direction: row;
    justify-content: center;
    padding:30px;
    gap:10px;
}
.contact-details i{
    display: flex;
    justify-content: center;
    align-items: center;
    color:var(--primary-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border:2px solid var(--primary-color);
    font-size: 1.5rem;
}
.contact .company-location{
    text-align: left;
}
.contact form{
    text-align: left;
}
.contact-details,.contact-form{
    width: 100%;
}
form .name-email{
    width:100%;
    justify-content: space-between;
    flex-direction: column;
}
form .name-email input{
    width: 100%;
}
form>input:nth-child(n+2),form>textarea{
    display: block;
    width:100%;
}
form input:nth-child(n),form>textarea{
    margin-bottom:20px;
    padding:15px 20px;
    border-radius: 5px;
    font-size: 1rem;
    border: none;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.4);
}
.contact a{
    color:white;
    background-color: var(--primary-color);
}

/* footer */
footer{
    background-color: var(--primary-color);
    color:white;
}
footer h4{
    font-weight: 400;
}
footer p, footer a{
    font-size: 1rem;
    font-weight: 200;
}
footer .page-links{
    justify-content: center;
    padding-block: 30px;
    gap:30px;
}
.page-links .flex{
    flex-direction: column;
}
footer .link-column{
    gap:10px;
}
footer .copyright{
    padding-block:10px;
}
/* ----------------responsiveness------------- */
@media screen and (min-width:576px) {
    .hero{
        max-width: 80%;
        margin-top: 5vh;
    }
    #hero{
        margin-top: 5vh;
    }
    .faq, .contact{
        max-width: 80%;
    }
    footer .page-links>.link-column:nth-child(1){
        max-width: 70%;
    }
}
@media screen and (min-width:768px) {
    h1{
        font-size: 2.3rem;
    }
    h2{
        font-size:2.2rem;
    }
    .container>.flex{
        flex-flow:row wrap;
        justify-content: center;
    }
    .nav>a{
        font-size: 2rem;
        padding-left: 20px;
    }
    .app-sc img{
        padding-inline:20px;
    }
    .sc-3{
        display: inline-block;
    }
    .hero{
        max-width: 70%;
    }
    #facts .facts-cards{
        flex-flow:row wrap;
        justify-content: center;
    }
    #facts .facts-card{
        max-width:45%;
    }
    .contact-details .location{
        max-width:fit-content;
        margin:auto;
    }
    form .name-email{
        flex-direction: row;
    }
    form .name-email input{
        width: 48%;
    }
    footer .page-links{
        align-items: flex-start;
    }
    footer .page-links .link-column{
        width: 40%;
    }
    footer .page-links .link-column:nth-child(1){
        align-self: center;
    }
}
@media screen and (min-width:992px) {
    h1{
        font-size: 2.3rem;
    }
    h2{
        font-size:2.4rem;
    }
    h3{
        font-size: 1.6rem;
    }
    h4{
        font-size:1.5rem;
    }
    p{
        font-size: 1.25rem;
    }
    .member-cards,.pricing-cards,.reviews-cards,.steps-cards,.download-cards{
        gap:40px;
    }
    .card{
        width: clamp(200px,80%,280px);
    }
    .nav>a{
        font-size: 2.5rem;
        padding-left: 40px;
    }
    .nav i{
        display: none;
    }
    .nav-links{
        width: auto;
        height: auto;
        padding-block:15px;
        position: unset;
        flex-direction: row;
        color:white;
        background-color: var(--primary-color);
        padding-right: 40px;
    }
    .nav-links>a{
        width:fit-content;
    }
    .nav-links>a{
        position: relative;
    }
    .nav-links>a::after{
        content: ' ';
        width:0;
        height: 2px;
        background-color: #f3f3f3;
        position: absolute;
        bottom:0px;
        left:0;
        transition: width .2s ease .1s;
    }
    .nav-links>a:hover::after{
        width:100%;
    }
    .hero{
        text-align: left;
        gap:60px;
        flex-direction: row;
    }
    .hero-text{
        max-width: 60%;
    }
    .hero-img{
        align-self: center;
    }
    .hero-buttons{
        justify-content: flex-start;
    }
    .facts{
        flex-direction: row;
    }
    .facts>div:nth-child(1){
        width:40%;
    }
    .facts>div:nth-child(2){
        width: 60%;
    }
    .app-sc img{
        padding-inline:40px;
    }
    .pricing-cards>.card{
        min-width: 300px;
        padding-inline:10px;
    }
    .faq{
        max-width: 60%;
    }
    .contact-det-form>div{
        width:50%;
        align-self: flex-start;
    }
    .contact-details .location{
        max-width: 100%;
    }
    footer .page-links .link-column{
        width: 20%;
    }
}

/* @keyframes name | duration | easing-function | delay |
iteration-count | direction | fill-mode | play-state */
@keyframes updown {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-25px);
  }
}
@keyframes orbit {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes touch {
    0%,100%{
        transform: scale(1);
    }
    50%{
        transform: scale(.8);
    }
}
@keyframes back-shadow {
    0%,100%{
        box-shadow: 0px 0px 0px 10px rgba(255,255,255,0);
    }
    50%{
        box-shadow: 0px 0px 0px 7px rgba(255,255,255,0.4);
    }
    
}